@charset "UTF-8";

/* ======================== base ======================= */
html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2.0;
  letter-spacing: 0.1em;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}

h2,h3,h4,h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,li,dl,dt,dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  transition: all .6s ease;
}

a:hover {
  transition: all .6s ease;
}

.content-wrapper {
  width: 95%;
  margin: 0 auto;
  max-width: 1400px;
}

section h2 {
  font-size: 2rem;
}

/* ======================== base ======================= */


/* ======================== header ======================= */

.header {
  display:-ms-flexbox;  /* IE 10対応 */
  display:-webkit-flex;   /* Safari 6.1-8  Android2.1-4.3  iOS Safari7-8.4対応 */
  display:flex;
  -ms-flex-pack: justify;  /* IE 10対応 */
  -webkit-justify-content: space-between; /* Safari 6.1-8  Android2.1-4.3  iOS Safari7-8.4対応 */
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100px;
  position: absolute;
  z-index: 3;

  position: -webkit-sticky;
  position: sticky;
  top: 0;

  background-color:skyblue;
}

.header h1 {
  margin: 0 0 0 25px;
  font-size: 2.5rem;
  color: #ffffff;
}

.header nav ul {
  display:-ms-flexbox;
  display:-webkit-flex;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.header nav ul li {
  margin: 0 20px;
}

header nav li a {
  color: #ffffff;
}

header nav li a:hover {
  opacity: 0.6;
}

.header nav li.phone {
  margin: 0 30px 0 10px;
  padding: 0 25px;
  border: 1px solid #fff;
  line-height: 50px;
  display: block;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 26px;
    cursor: pointer;
  }

  .header nav {
    display: none;
  }

  /* ~~~~~~ ハンバーガーメニュー ~~~~~*/
  .nav-button,
  .nav-button span {
    display: inline-block;
    transition: all .5s;
  }

  .nav-button {
    position: relative;
    width: 30px;
    height: 26px;
  }

  .nav-button span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
  }

  .nav-button span:nth-of-type(1) {
    top: 0px;
  }

  .nav-button span:nth-of-type(2) {
    top: 11px;
  }

  .nav-button span:nth-of-type(3) {
    bottom: 0px;
  }

  .nav-button.active span:nth-of-type(1) {
    -webkit-transform: translateY(11px) rotate(-45deg);
    transform: translateY(11px) rotate(-45deg);
  }
  .nav-button.active span:nth-of-type(2) {
    opacity: 0;
  }
  .nav-button.active span:nth-of-type(3) {
    -webkit-transform: translateY(-11px) rotate(45deg);
    transform: translateY(-11px) rotate(45deg);
  }

/* ~~~~~~ ハンバーガーメニュー ~~~~~*/
  
}

.mainvisual {
  position: relative;
}


/* ======================== header ======================= */


/* ======================== mainvisual ======================= */

.mainvisual img{
  height: 700px;
  object-fit: cover;
  object-position: 0 15%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.mainvisual h2 {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  font-size: 5vw;
  color: #fff;
}

@media screen and (max-width: 1199px){
  .mainvisual img {
    height: auto;
  }
}

/* ======================== mainvisual ======================= */


/* ======================== topics ====================== */

.topics {
  padding: 120px;
  position: relative;
}

.topics::after {
  content: "";
  background-color: #f3f3f3;
  height: 150%;
  width: 40%;
  position: absolute;
  top: -10%;
  left: 30%;
  transform-origin: left top;
  transform: skewX(30deg);
  z-index: -1;
}

.topics .content-wrapper {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.topics .heading {
  width: 35%;
}

.topics .content {
  width: 65%;
}

.topics .content table {
  width: 100%;
  margin: 0 0 25px 0;
}

.topics .content th {
  padding: 20px 2em 20px 0;
  border-bottom: 1px dotted;
}

.topics .content td {
  border-bottom: 1px dotted;
}

.topics .content tr:last-of-type th,
.topics .content tr:last-of-type td {
  border-bottom: none;
}

.topics .content btn {
  margin: 0;
}

.topics .content .btn a {
  display: block;
  font-size: 0.8em;
  color: #000000;
  border: 1px solid #000;
  width: 200px;
  line-height: 60px;
  text-align: center;
  margin: 0 0 0 auto;
}

.topics .content .btn a:hover {
  background-color: #333;
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .topics {
    padding: 50px 5vw;
  }

  .topics .content-wrapper {
    display: block;
  }

  .topics .heading {
    width: 100%;
  }

  .topics .heading h2 {
    text-align: center;
    margin-bottom: 5vw;
  }

  .topics .content {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .topics {
    padding: 50px 0;
    width: 90%;
    margin: 0 auto;
  }

  .topics .content .btn a {
    width: 35%;
    min-width: 200px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 479px) {
  .topics .content th {
    display: block;
    width: 100%;
    text-align-last: left;
    padding: 1.25em 0 0 0;
    border-bottom: 0;
  }

  .topics .content td {
    display: block;
    width: 100%;
  }
}

/* ======================== topics ====================== */

/* ======================== institution ======================= */

.institution {
  background: url(../images/machines-91849_1280.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 500px;
  position: relative;
  z-index: 1;
  width: 100%;
}

.institution::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.institution .content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}

.institution h2 {
  color: #ffffff;
  text-align: left;
}

.institution p {
  color: #ffffff;
  text-align: left;
  margin-bottom: 70px;
}

.institution p.btn {
  margin: 0;
}

.institution p.btn a {
  color: #ffffff;
  display: block;
  font-size: 0.875rem;
  border: 1px solid #fff;
  width: 200px;
  line-height: 60px;
  text-align: center;
}

.institution p.btn a:hover {
  background-color: #fff;
  color: #333;
}

@media screen and (max-width: 479px){
  .institution .content {
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .institution h2,p {
    text-align: center;
  }

  .institution p.btn a {
    width: 30%;
    min-width: 200px;
    margin: 0 auto;
  }
}

/* ======================== institution ======================= */


/* ======================== recruit ====================== */

.recruit {
  padding: 10% 0;
  position: relative;
}

.recruit::after {
  content: "";
  background-color: #f3f3f3;
  height: 150%;
  width: 40%;
  position: absolute;
  top: -10%;
  left: 30%;
  transform-origin: left top;
  transform: skewX(-30deg);
  z-index: -1;
}

.recruit h2 {
  text-align: center;
  margin-bottom: 70px;
}

.recruit ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  transform: skewY(2deg);
}

.recruit ul li {
  width: 48%;
  position: relative;
}

.recruit ul li figure::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-top: 66%; /*66%にするとぴったりになる*/
  background: rgba(50, 50, 50, 0.7);
  z-index: 1;
  transition: all .6s ease;
}

.recruit ul li a:hover figure::after {
  background: rgba(50, 50, 50, 0.4);
  transition: all .6s ease;
}

.recruit li span {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) skewY(-2deg);
  z-index: 2;
  color: #ffffff;
  font-size: 2rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .recruit ul {
    transform: none;
  }

  .recruit li span {
    transform: translate(-50%, -50%);
    font-size: 1.75rem;
  }
}

@media screen and (max-width: 479px) {
  .recruit h2 {
    margin-bottom: 5vw;
  }

  .recruit ul li {
    width: 90%;
    margin: 0 auto 20px auto;
  }
}

/* ======================== recruit ====================== */


/* ========================  contact  ====================== */

.contact {
  width: 100%;
  height: 500px;
  background: url(../images/iphone-410324_1280.jpg);
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}

.contact::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

.contact ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 1;
  width: 100%;
}

.contact li {
  width: 300px;
  margin: 0 50px;
}

.contact li a {
  border: 1px solid #fff;
  font-size: 1.25rem;
  color: #fff;
  display: block;
  text-align: center;
  padding: 1em 0;
}

.contact li a:hover {
  background: #fff;
  color: #333;
}

@media screen and (max-width: 479px) {
  .contact li {
    width: 40%;
  }

  .contact li a {
    font-size: 1rem;
  }

}

/* ========================  contact  ====================== */


/* ========================  footer  ====================== */

.footer section {
  padding-top: 120px;
}

.footer .high {
  border-bottom: 1px solid #333;
  display: -msflexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  align-items: flex-end;
}

.footer .high ul {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-bottom: 25px;
}

.footer .high li a {
  color:#333;
  padding: 0 25px;
}

.footer .high li a:hover {
  opacity: 0.6;
}

.footer .low {
  padding: 25px 0 80px 0;
  -webkit-box-align: center;
  color: #333;
  text-align: center;
  font-size: 0.75rem;
}

@media screen and (max-width: 1199px) {
  .footer .high {
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .footer section {
    padding-top: 50px;
  }
  
  .footer .high li {
    width: calc(100%/3);
    margin: 0 0 10px;
  }
  
  .footer .high li a {
    display: block;
    text-align: center;
    padding: 0;
  }
}

@media screen and (max-width: 479px) {
  .footer .high h1,.low {
    text-align: center;
  }
}

/* ========================  footer  ====================== */
